[submodule "aqua_app"]
	path = aqua_app
	url = https://github.com/Uwumukiza12/aqua_app
[submodule "aqua_ap"]
	path = aqua_ap
	url = https://github.com/Uwumukiza12/aqua_app
[submodule "rest-tut"]
	path = rest-tut
	url = https://github.com/Uwumukiza12/aqua_app
[submodule "backAqua"]
	path = backAqua
	url = https://github.com/Uwumukiza12/aquaFetch_backend
